[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysql/mysql.sock
user=mysql
binlog_format=ROW
bind-address=0.0.0.0
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=122M

wsrep_on = ON
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_cluster_name="galera_cluster"
# default to standalone
wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync
#wsrep_sst_method = xtrabackup-v2
# This can be insecure, because the user is only available via localhost
# We should still try to integrate it with Kubernetes secrets
#wsrep_sst_auth=xtrabackup_sst:xtrabackup_sst

[mysql_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

